
#configuration {
	position: absolute;
	top: 150;
	left: 150;
	width: 500;
	height: 500;
	visibility: hidden;
}

#favorites {
	position: absolute;
	top: 150;
	left: 150;
	width: 500;
	height: 500;
	visibility: hidden;
}

#history {
	position: absolute;
	top: 150;
	left: 150;
	width: 500;
	height: 500;
	visibility: hidden;
}

#feeds {
	position: absolute;
	top: 150;
	left: 150;
	width: 500;
	height: 500;
	visibility: hidden;
}
