<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<!-- <browser name="Internet Explorer" browser="*iexplore" /> -->
		<browser name="Firefox" browser="*firefox /usr/lib/firefox-3.6/firefox-bin" /> 
    <!-- <browser name="Chrome" browser="*googlechrome" /> -->
	</selenium>

</phpunit>
