<html>
  <head>
    <title>$FILE_TITLE$</title>
       <meta http-equiv="content-type" content="text/html; charset=$LANGUAGE_SELECT$">
  </head>
  <body bgcolor="#0A446F" focushighlight=user5 focustext=user3 background="file:///opt/sybhttpd/localhost.images/sd/bg.jpg" onloadset="$FILE_FIRST$" $MARGINHEIGHT$ $FILE_MANAGER$>
   <table border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td valign="top">
         <table border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td width="179" height="144" valign="top" align="right">
               <table border="0" cellspacing="0" cellpadding="0">
                 <tr><td height="90"></td></tr>
                <tr>
                  <td valign="middle" align="right" width="164"><a href="javascript: history.go('$FILE_HOME$')" name="home" tvid="home"></a></td>
                  <td valign="middle" align="left" width="15" height="25"></td>
                </tr>
                <tr>
                  <td valign="middle" align="right" width="164"></td>
                  <td valign="middle" align="left" width="15" height="25"></td>
                </tr>
               </table>
             </td>
           </tr>
           <tr>
             <td height="69" align="right" valign="bottom"><img src="file:///opt/sybhttpd/localhost.images/sd/$FILE_SICON$" width="90" height="69"></td>
           </tr>

          <tr>
            <td align="right" height="20" valign="top"><font size="2" color=user2><b>// $FILE_DEVNAME$</b></font></td>
          </tr>
          <tr><td align="right"><img src="file:///opt/sybhttpd/localhost.images/sd/line_side.png" width="86" height="29"></td></tr>
           <tr><td height="10"></td></tr>
          <tr>
            <td width="179" align="right" >
              <table border="0" cellspacing="0" cellpadding="0">
                 <tr>
                  <td valign="middle" align="right" width="164"><a href="http://127.0.0.1:8883/start.cgi?list" name="media" onkeyrightset="$FILE_FIRST$" onkeyleftset="media" onkeyupset="media" style="width:120"><font size="2" color=user1><b>&nbsp;$MEDIA_SOURCE_NAME$&nbsp;</b></font></a></td>
                  <td valign="middle" align="right" width="15" height="30"><img src="file:///opt/sybhttpd/localhost.images/sd/rect.png" width="12" height="12"></td>
                </tr>
                <tr>
                  <td valign="middle" align="right"><a href="file:///opt/sybhttpd/default/webservices_list.html" name="web" onkeyrightset="$FILE_FIRST$" onkeyleftset="web" onkeyupset="media" style="width:120"><font size="2" color=user1><b>&nbsp;$WEB_SERVICES_NAME$&nbsp;</b></font></a></td>
                  <td valign="middle" align="right" height="30"><img src="file:///opt/sybhttpd/localhost.images/sd/rect.png" width="12" height="12"></td>
                </tr>
                <tr><td height="10"></td></tr>
                <tr>
                  <td valign="middle" align="right"><a href="file:///opt/sybhttpd/default/preferences.htm" name="setup" onkeyrightset="$FILE_FIRST$" onkeyleftset="setup" onkeydownset="setup" onkeyupset="web" style="width:120"><font size="2" color=user1><b>&nbsp;$SETUP_NAME$&nbsp;</b></font></a></td>
                  <td valign="middle" align="right" height="30"><img src="file:///opt/sybhttpd/localhost.images/sd/rect.png" width="12" height="12"></td>
                </tr>
               </table>
            </td>
          </tr>
         </table>
       </td>
       <td height="405" width="38" background="file:///opt/sybhttpd/localhost.images/sd/divider.png"></td>
       <td width="380" valign="top">
         <table border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td height="5">
               <a href="$FILE_PGUP$" $TVID_PGUP$></a>
               <a href="$FILE_PREV$" onfocusload><font size="1">&nbsp;</font></a>
             </td>
           </tr>
           <tr>
             <td width="380" height="25" align="right" valign="top">
               <table border="0" cellspacing="0" cellpadding="0">
                 <tr>
                   <td width="30">$FILE_UPPIC$</td>
                   <td width="30">$FILE_DNPIC$</td>
                 </tr>
               </table>
             </td>
           </tr>
<BEGINLISTING>
          <tr>
             <td>
               <table border="0" cellspacing="0" cellpadding="0" background="file:///opt/sybhttpd/localhost.images/sd/list_bar.png">
                 <tr>
                   <td width="40" height="35" align="right"><font size="2" color=user1><b>$FILE_INDEX$</b></font></td>
                   <td width="40" align="right">
                    <img src="file:///opt/sybhttpd/localhost.images/sd/$FILE_ICON$" width="35" height="25">
                  </td>
                   <td width="290"><a href=$FILE_LINK$ name="$FILE_INDEX$" onkeyleftset="media" onkeyrightset="$FILE_INDEX" tvid="$FILE_INDEX$" alt="$FILE_INFO$" $FILE_MANAGER$ $ZCD_FILE$ fip="$FILE_NAME$"><font size="2" color=user1><b><marquee behavior=focus width=290>&nbsp;&nbsp;$FILE_NAME$</marquee></b></font></a></td>
                   <td width="10"></td>
                </tr>
               </table>
             </td>
           </tr>
           <tr><td height="2"></td></tr>
<ENDLISTING>
           <tr>
             <td height=15  align=right><font size=1 color=user2><b>$FILE_FIRST$ $FILE_LAST$ $FILE_TOTAL$ $ITEMS_NAME$&nbsp;</b></font></td>
           </tr>
          <tr>
            <td>
              <a href="$FILE_NEXT$" onfocusload $TVID_PGDN$><font size="1">&nbsp;</font></a>
              <a href="$FILE_FAST$" tvid=#$FILE_TOTAL$ onclick=history.go(-1)></a>
            </td>
          </tr>
          <tr>
          <td>$FILE_FILTER$</td>
          <td>$FILE_PLAYLIST$</td>
          </tr>
        </table>
       </td>
     </tr>
   </table>
  </body>
</html>

