<html>
   <head>
     <title>$FILE_TITLE$</title>
     <meta http-equiv="content-type" content="text/html; charset=$LANGUAGE_SELECT$">
  <style type="text/css">
    .menu {font-size:22px;color:user1;font-weight:bold;}
    .server {font-size:20px;color:user2;font-weight:bold;}
    .pagination {font-size:18px;color:user2;font-weight:bold;}
    .list {font-size:20px;color:user1;font-weight:bold;}
  </style>
  </head>
  <body bgcolor="#398EC4" marginwidth="0" marginheight="0" focushighlight=user5 focustext=user3 background="file:///opt/sybhttpd/localhost.images/hd/bg.jpg" onloadset="$FILE_FIRST$" $FILE_MANAGER$>
   <table width="1100" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td width="270" valign="top">
         <table border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td width="270" height="295" valign="top" align="right">
               <table border="0" cellspacing="0" cellpadding="0">
                 <tr><td height="200"></td></tr>
                <tr>
                  <td width="250" valign="middle" align="right"><a href="javascript: history.go('$FILE_HOME$')" name="home" tvid="home"></a></td>
                  <td width="20" height="35" valign="middle" align="left"></td>
                </tr>
                <tr>
                  <td width="250" valign="middle" align="right"></td>
                  <td width="20" height="35" valign="middle" align="left"></td>
                </tr>
               </table>
             </td>
           </tr>
           <tr>
             <td height="80" align="right" valign="bottom"><img src="file:///opt/sybhttpd/localhost.images/hd/$FILE_SICON$" width="105" height="80"></td>
           </tr>

          <tr>
            <td align="right" height="20" valign="top" class="server">// $FILE_DEVNAME$</td>
          </tr>
          <tr><td align="right"><img src="file:///opt/sybhttpd/localhost.images/hd/line_side.png" width="86" height="29"></td></tr>
           <tr><td height="30"></td></tr>
          <tr>
            <td align="right" >
              <table border="0" cellspacing="0" cellpadding="0">
                 <tr>
                  <td width="250" valign="middle" align="right"><a href="http://127.0.0.1:8883/start.cgi?list" name="media" onkeyrightset="$FILE_FIRST$" onkeyleftset="media" onkeyupset="media" class="menu" style="width:180">&nbsp;$MEDIA_SOURCE_NAME$&nbsp;</a></td>
                  <td width="20" height="40" valign="middle" align="right"><img src="file:///opt/sybhttpd/localhost.images/hd/rect.png" width="16" height="12"></td>
                </tr>
                <tr>
                  <td valign="middle" align="right"><a href="file:///opt/sybhttpd/default/webservices_list.html" name="web" onkeyrightset="$FILE_FIRST$" onkeyleftset="web" onkeyupset="media" class="menu" style="width:180">&nbsp;$WEB_SERVICES_NAME$&nbsp;</a></td>
                  <td height="40" valign="middle" align="right"><img src="file:///opt/sybhttpd/localhost.images/hd/rect.png" width="16" height="12"></td>
                </tr>
                <tr><td height="10" colspan="2"></td></tr>
                <tr>
                  <td valign="middle" align="right"><a href="file:///opt/sybhttpd/default/preferences.htm" name="setup" onkeyrightset="$FILE_FIRST$" onkeyleftset="setup" onkeydownset="setup" onkeyupset="web" class="menu" style="width:180">&nbsp;$SETUP_NAME$&nbsp;</a></td>
                  <td height="40" valign="middle" align="right"><img src="file:///opt/sybhttpd/localhost.images/hd/rect.png" width="16" height="12"></td>
                </tr>
               </table>
            </td>
          </tr>
         </table>
       </td>
       <td height="656" width="100"><img src="file:///opt/sybhttpd/localhost.images/hd/divider.png" width="93" height="656"></td>
       <td width="730" valign="top">
         <table border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td height="40">
               <a href="$FILE_PGUP$" $TVID_PGUP$></a>
               <a href="$FILE_PREV$" onfocusload><font size="1">&nbsp;</font></a>
             </td>
           </tr>
           <tr>
             <td width="730" height="30" align="right" valign="top">
               <table border="0" cellspacing="0" cellpadding="0">
                 <tr>
                   <td width="30">$FILE_UPPIC$</td>
                   <td width="30">$FILE_DNPIC$</td>
                 </tr>
               </table>
             </td>
           </tr>
<BEGINLISTING>
           <tr>
             <td>
               <table border="0" cellspacing="0" cellpadding="0" background="file:///opt/sybhttpd/localhost.images/hd/list_bar.png">
                 <tr>
                   <td width="70" height="46" align="right" class="list">$FILE_INDEX$</td>
                   <td width="80" align="right"><img src="file:///opt/sybhttpd/localhost.images/hd/$FILE_ICON$" width="45" height="35"></td>
                   <td width="570"><a href=$FILE_LINK$ name="$FILE_INDEX$" onkeyleftset="media" onkeyrightset="$FILE_INDEX$" tvid="$FILE_INDEX$" class="list" alt="$FILE_INFO$" $FILE_MANAGER$ $ZCD_FILE$ fip="$FILE_NAME$"><marquee behavior=focus width=560>&nbsp;&nbsp;$FILE_NAME$</marquee></a></td>
                   <td width="10"></td>
                 </tr>
               </table>
             </td>
           </tr>
           <tr><td height="3"></td></tr>
<ENDLISTING>
          <tr>
             <td height="35" align="right">
               <table border="0" cellspacing="0" cellpadding="0">
                 <tr>
                   <td height="35" class="pagination">$FILE_FIRST$ $FILE_LAST$ $FILE_TOTAL$ $ITEMS_NAME$</td>
                   <td width="10"></td>
                 </tr>
                 <tr>
                   <td>
                    <a href="$FILE_NEXT$" onfocusload $TVID_PGDN$><font size="1">&nbsp;</font></a>
                    <a href="$FILE_FAST$" tvid=#$FILE_TOTAL$ onclick=history.go(-1)></a>
                  </td>
                </tr>
                <tr>
                  <td>$FILE_FILTER$</td>
                  <td>$FILE_PLAYLIST$</td>
                </tr>
               </table>
             </td>
           </tr>
         </table>
       </td>
     </tr>
   </table>
  </body>
</html>
