/*
  Name: PCH Torrent RSS Config
  Description: Stylistic update of the TorrentWatch (http://code.google.com/p/torrentwatch/) config interface.
  Version: 1.0
  Author: Keith Solomon
  Author URI: http://reciprocity.be/
  
  License: GNU General Public License v2
*/

/* Modifications by Erik Bernhardson
 * inspired by Clutch
 */

/*---------------------
 * Some debugging info
 * --------------------*/
div.rss_debug {
  display: none;
}

/*-----------------
 *
 * G L O B A L
 *
 * ---------------*/

html {
  height: 100%;
  }

body {
  font: 85% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #323232 !important;
  text-align: left;
  overflow: hidden;
  }

input, select {
  margin-left: 1em;
  display: inline;
  }

input[type=hidden] {
  display: none;
  }

label {
  display: inline;
  font-size: 0.9em;
  margin-left: 1em;
  vertical-align: middle;
  }

label.item {
  float: left;
  width: 150px;
  }

.category {
  display: block;
  float: none;
  font-size: 1.2em;
  margin-top: 1.5em;
  }

.hidden {
  display: none;
  }

input {
  border: 0px; 
  }

input:hover, input:focus {
  border: 1px solid black;
  }

/*-----------------
 *
 * T O P   M E N U
 *
 * ----------------*/
ul.mainoptions {
  background: transparent url('../images/menu_bg.gif') repeat-x;
  border-bottom: 1px solid #979797;
  width: 100%;
  height: 68px;
  z-index: 20;
  }

ul.mainoptions li {
  float: left;
  margin: 12px 0 0 0;
  vertical-align: middle;
  }

ul.mainoptions li#inspector,
ul.mainoptions li#webui {
  float: right;
  }

ul.mainoptions li a {
  color: #030303;
  font-size: 0.9em;
  text-decoration: none;
  padding: 33px 0.7em 0 0.7em;
  display: block;
  }

ul.mainoptions li#refresh a {
  background: url(../images/menusprites.png) no-repeat center -23px;
  }

ul.mainoptions li#favoritesMenu a {
  background: url(../images/menusprites.png) no-repeat center -101px;
  }
ul.mainoptions li#config a {
  background: url(../images/menusprites.png) no-repeat center -179px;
  }

ul.mainoptions li#view a {
  background: url(../images/menusprites.png) no-repeat center -257px;
  }

ul.mainoptions li#empty a {
  background: url(../images/menusprites.png) no-repeat center -335px;
  }

ul.mainoptions li#webui a {
  background: url(../images/menusprites.png) no-repeat center -555px;
  }

ul.mainoptions li#inspector a {
  background: url('../images/menusprites.png') no-repeat center -413px;
  }

ul.mainoptions li.divider {
  background: transparent url('../images/menusprites.png') center -633px;
  height: 2.3em;
  margin: 1.3em 0 0 0;
  }

/*-----------------
 *
 * F I L T E R   B A R
 *
 * ---------------*/

ul#filterbar_container {
  position: fixed;
  background: #C0C8D6 url('../images/filter_bar_bg.png') repeat-x;
  border-bottom: 1px solid #979797;
  height: 23px;
  right: 0;
  left: 0;
  top: 94px;
  z-index: 20;
  }

ul#filterbar_container li {
  float: left;
  margin: 0.3em 0.5em;
  padding-left: 0.5em;
  vertical-align: middle;
  height: 1.1em;
  font-size: 0.9em;
  color: #4E4E4F;
  }

ul#filterbar_container li a {
  padding-right: 0.5em;
  text-decoration: none;
  color: #333;
  }

ul#filterbar_container li:not(#filter_bytext):hover {
  background: transparent url('../images/filter_hover_left.png') no-repeat top left;
  }

ul#filterbar_container li:hover a {
  background: transparent url('../images/filter_hover_right.png') no-repeat top right;
  }


ul#filterbar_container li.selected {
  background: transparent url('../images/filter_selected_left.png') no-repeat top left;
  }

ul#filterbar_container li.selected a {
  background: transparent url('../images/filter_selected_right.png') no-repeat top right;
  }

ul#filterbar_container li#filter_bytext {
  float: right;
  margin: 0;
  border: 0;
  }

input#filter_text_input {
  height: 1.5em; 
  width: 8em; 
  border: 1px solid #5D80A1; 
  padding: 0.1em 0.5em 0.15em 1.5em;
  margin: 0.1em 0.5em;
  border-radius: 10px;
  background: #FFF url('../images/menusprites.png') no-repeat -23px -491px;
  -o-border-radius: 8px; 
  -icab-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; 
  outline-style: none;
  }

input#filter_text_input.blur {
  border-color: #CCC;
  }

/*--------------------------
 *
 * I N S P E C T O R
 *
 * ------------------------*/

div#inspector_container {
  background-color: #FEFEFE;
  position: fixed;
  overflow: auto;
  border: 1px solid #888888;
  top: 68px;
  right: -350px;
  bottom: 0;
  width: 350px;
  z-index: 20;
  text-align: center;
  }

div#inspector_container h2 {
  font-size: 2em;
  }

div#inspector_container > div {
  background-color: #EDF3FE;
  padding-left: 5px;
  }

div#inspector_container span {
  display: block;
  }

div#inspector_container .content {
  background-color: #FEFEFE;
  }

/*-----------------------------------
 *
 * V A L I D A T I O N   E R R O R S
 *
 * -----------------------------------*/

div.errorSummary {
  border: 1px solid black;
  padding: 0.2em 1em;
  background-color: #FCFFF0;
  margin-bottom: 1em;
  }

div.errorSummary ul {
  list-style-type: disc;
  padding-left: 2em;
  }

div.errorSummary ul li {
  }

label.error {
  font-weight: bold;
  }

/*-------------------------
 *
 * L O G I N   F O R M
 *
 * ------------------------*/
div.login_form {
  background: #DBDBDB;
  padding: 5px;
  position: fixed;
  top: 121px;
  width: 410px;
  left: 50%;
  margin-left: -205px;
}

div.yiiForm {
}
/*------------------------------
 *
 * F E E D   I T E M   L I S T
 *
 * ----------------------------*/

.tabs-container {
  padding: 0 !important;
  }

div#feedItems_container {
  }

div#feedItems_container > ul {
  background: #e9e9e9;
  }

div#feedItems_container > div {
  position: fixed;
  overflow: auto;
  top: 117px;
  bottom: 0;
  left: 0;
  right: 0;
  }

ul.duplicates {
  display: none;
  }

ul li.torrent {
  border-bottom: 1px solid #ccc;
  min-height: 2.3em;
  background: #FFF;
  }

li.torrent.hidden_bytext {
  display: none;
  }

div.itemButtons, div.hideButton {
  float: left;
  height: 25px;
  padding-top: 8px;
  }

div.itemButtons {
  width: 3.6em;
  }

div.itemButtons a {
  padding-left: .6em;
}

div.hideButton img {
  border: 1px solid #b0b0b0;
  margin: 0 .5em 0 .3em;
  }

div.itemDetails {
  padding-top: .4em;
  height: 28px;
  }

ul li.torrent.match_Unmatched .itemButtons {
  background-color: #FBBFBF;
  }

ul li.torrent.match_Failed .itemButtons {
  background-color: #FFA900;
  }

ul li.torrent.match_Manual .itemButtons {
  background-color: #84E900;
  }

ul li.torrent.match_Downloaded .itemButtons,
ul li.torrent.match_Automatic .itemButtons {
  background-color: #00C12B;
}

ul li.torrent.match_Duplicate .itemButtons {
  background-color: #FFFFCC;
  }

ul li.torrent.match_Old .itemButtons {
  background-color: #CCCCFF;
  }

ul li.torrent.match_Queued .itemButtons {
  background-color: #38ADB8;
  }

ul li.torrent.match_New .itemButtons {
  background-color: #E0428F;
  }

ul li.torrent.hasDuplicates {
  cursor: pointer;
  }

ul li.torrent.hasDuplicates.open {
  background-image: none !important;
  }

ul li.torrent.alt {
  background-color: #EDF3FE;
  }

ul li.torrent.notalt {
  background-color: #FFFFFF;
  }

span.torrent_name {
  margin-right: 10px;
  }

span.torrent_pubDate {
  float: right;
  }  

a.context_link {
  display: none;
  }

/*--------------------------
 *
 * D I A L O G S
 *
 * ---------------------*/

div.dialog_window {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  z-index: 9900;
  margin: -0.2em auto 0 auto;
  filter: alpha(opacity=95);
  -moz-opacity: .95;
  opacity: .95;
  top: 30px;
  left: 50%;
  margin-left: -328px;
  width: 656px;
  }

/* default close button positioned on upper right corner */
div.dialog_window div.close {
  background-image:url(../images/overlay/close.png);
  position:absolute;
  right:5px;
  top:5px;
  cursor:pointer;
  height:35px;
  width:35px;
  z-index: 10;
  }

div.expose {
  background-color: #CCC;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  position: absolute;
  z-index: 9000;
  }

div.dialog_window .content {
  background-image: url(../images/overlay/white.png);
  padding: 26px 23px 0 23px;
  }

div.dialog_window:after {
  content: " ";
  display: block;
  background: url(../images/overlay/white.png) 0 -493px;
  height: 32px;
  clear: both;
  }

h2.dialog_heading {
  font-size: 1.3em;
  text-align: center;
  }

div.buttonContainer {
  width: 100%;
  border-top: 1px solid gray;
  margin-top: 2px;
  }

div.clearFix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

a.button,
input[type=submit] {
  float: right;
  margin: .5em 1em 0 0;
  padding: .5em;
  background-color: #EEE;
  border: 1px solid #787878;
  font-size: 0.8em;
  color: #323232;
  clear: left;
  cursor: pointer;
  }

a.button {
  width: 50px;
  text-align: center;
  text-decoration: none;
  }

input[type=submit] {
  width: 62px;
  height: 28px;
  }

/********************************
 *
 * W I Z A R D   D I A L O G S
 *
 *******************************/

div.welcome .content {
  padding: 30px 30px 0 30px;
}
div.welcome input {
  clear: left;
  }

div.welcome label {
  float: none;
  width: auto;
  }

div#welcome5 div.content div {
  margin-bottom: 1em;
  }

div#welcome5 div.content div.buttonContainer {
  margin-bottom: 0;
  }

div.welcome .torrent_client,
div.welcome .nzb_client {
  width: 285px;
  padding: 5px;
  float: left;
  }

div#welcome1 label,
div#welcome7 label {
  margin-top: 0.2em;
  display: block;
  }

div.form_radio {
  padding-left: 10px;
  }

/***************************
 *
 * P R O G R E S S   B A R
 *
 ***************************/
#progressbar {
  z-index: 9999 !important;
  }

#progressbar img {
  display: block;
  margin: 0 auto;
  }

/*****************************
 *
 * C O N F I G   D I A L O G 
 *
 ****************************/

#configuration label {
  font-size: 1em;
  text-align: right;
  margin: 0 10px 0 100px;
  }

div.dialog_window#configuration select,
div.dialog_window#configuration input[type=text] {
  width: 285px;
  }

div.dialog_window#configuration div {
  min-height: 30px;
  }

/* Client Config */
div.client_config select {
  display: block;
  margin: 0 auto 15px;
  }

#configuration h2 {
  border-bottom: 1px solid #bbb;
  margin: 0 auto 15px;
  }

#configuration #feeds h2 {
  border: 0;
  margin: 0;
  }

/* Feeds */
.activeFeed {
  height: 35px;
  border-top: 1px solid #bbb;
  }

.activeFeed span {
  margin: 0 1em;
  }

.activeFeed label.item {
  white-space: nowrap;
  min-width: 95px;
  max-width: 350px;
  overflow: hidden;
  width: auto;
  padding: 5px;
  margin: 5px 0 0 0;
  }

#newFeed {
  height: auto;
  }

#newFeed select {
  display: inline;
  margin-left: 80px;
  margin-top: 4px;
  position: relative;
  width: 8em !important;
  }

#newFeed #feed_url[type=text] {
  width: 490px !important;
  border: 1px solid black !important;
  }



/***********************************
 *
 * F A V O R I T E S   D I A L O G
 *`
 **********************************/

ul.favorite {
  height: 230px;
  float: left;
  clear: left;
  border: 1px solid gray;
  padding: 5px 0 5px 5px;
  margin: 5px 0 5px 5px;
  width: 180px;
  font-size: 120%;
  overflow: auto;
  }

ul.favorite li {
  overflow: hidden;
  cursor: pointer;
  }

ul.favorite li a {
  vertical-align: top;
  font-size: 0.8em;
  text-decoration: none;
  color: #000000;
  overflow: none;
  }

ul.favorite li:hover {
  background-color: #3879D7;
  }

form.favinfo {
  display: none;
  padding: 5px 0;
  margin: .5em 1.5em .5em 0;
  width: 380px;
  float: right;
  }

form.favinfo div {
  min-height: 24px;
  }

form.favinfo label {
  float: left;
  width: 8em;
  }

form.favinfo input#mode,
form.favinfo input#idx {
  display: none;
  }

form.favinfo select,
form.favinfo input[type=text] {
  width: 16em;
  }


div.favorite_name span {
  margin-left: 1em;
  }

div.favorite_quality select {
  right: auto;
  width: 4.7em;
  }

/* long selector to override form.favinfo input[type=text] */
div.favorite_years input {
  width: 3em !important;
  margin-left: .2em !important;
}

/* long selector to override form.favinfo input[type=text] */
div.favorite_episodes input {
  width: 2em !important;
  margin-left: .2em !important;
  }

div.favorite_years span {
  margin-left: .8em;
  }

div.favorite_episodes span {
  margin-left: 1em;
  }

div.favorite_episodes input.min {
  text-align: right;
  }

/******************************
 *
 * H I S T O R Y   D I A L O G
 *
 *****************************/
div#history {
  height: 250px;
  }

div#history ul {
  position: relative;
  background-color: #FFF;
  border-width: 1px 1px 0;
  top: 0;
  bottom: 35px;
  left: 0;
  right: 0;
  height: 217px;
  overflow: auto;
  padding: 2px 0 0 3px;
  }

div#history ul li {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9em;
  min-height: 22px;
  cursor: pointer
  }

div#history ul li.alt {
  background-color: #EDF3FE;
  }


div#history .date {
  float: right;
  }

div.hItemDetails {
  display: none;
  }

div#history a {
  position: inherit;
  bottom: 0.2em;
  }

div#history a#clearhistory {
  right: 0;
  }

div#history a.toggleDialog {
  right: 6.5em;
  }

.hItemDetails {
  padding-left: 20px;
  font-size: 0.8em;
  }

/************************************
 *
 * R E S E T   D A T A   D I A L O G
 *
 ************************************/
div#reset_data li {
  padding-left: 10px;
  min-height: 40px;
  }

/**************************
 *
 * C O N T E X T   M E N U
 *
 *************************/
div.context_menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(119, 119, 119);
  background-color: white;
  z-index: 9999;
  width: 190px;
  }

div.context_menu ul {
  border: medium none;
  margin: 0;
  padding: 5px 0pt;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-size: 14px;
}

div.context_menu ul li a {
  display: block;
  padding: 0 10px 2px 20px;
  color: #000000;
  text-decoration: none;
  }

div.context_menu ul li a:hover {
  background-color: #3879D7;
  color: #FFFFFF;
  }

/*-----------------
 *
 * O L D   C S S   S T U F F
 *
 * ----------------*/


.clear { clear: both; }

div.timer {
  font-size: 8pt;
  text-align: right;
  margin-right: 5px;
  bottom: 0;
  right: 0;
}


.favorite li {
  background: url(../images/favorites.png) no-repeat left center;
  height: 20px;
  margin-bottom: 5px;
  padding-left: 24px;
  overflow: hidden;
}

